.ClickToShow-div {
  display: flex;
  flex-direction: column;
  height: 75vh;
}
.btn-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.show-buttons {
  padding: 1rem;
  margin: 1rem;
  color: white;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 10px;
  border: none;
}

.show-buttons:hover {
  background-color: rgb(60, 60, 226);
}

/* .showing-div {
  background-color: aqua;
  margin-top: 50px;
} */

.floor-web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* push this to the bottom */
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.floor-web a {
  color: rgb(72, 233, 8);
}

.down-arrow {
  font-size: 2rem; /* adjust as needed */
  /* animation: bounce 1.5s infinite; */
  color: #007bff; /* optional */
}

.down-arrow.bounce {
  animation: bounce 1.5s infinite;
}
/* Keyframes for bounce */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
}
