.stopwatch-container {
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.clock {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
  width: 500px;
  border-radius: 2rem;
}
.time {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.buttons button {
  border-radius: 5px;
  margin: 5px;
  padding: 5px 20px 5px 20px;
  color: white;
}

.start {
  background-color: hsl(115, 100%, 50%);
}
.start:hover {
  background-color: hsl(115, 70%, 50%);
}
.stop {
  background-color: hsl(0, 100%, 50%);
}
.stop:hover {
  background-color: hsl(0, 70%, 50%);
}
.reset {
  background-color: hsl(220, 100%, 50%);
}

.reset:hover {
  background-color: hsl(220, 50%, 50%);
}
.time h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
