.narbar {
  display: grid;
  grid-template-columns: auto auto;
  z-index: 100;
  top: 0;
  position: sticky;
  width: 100%;
  font-weight: bold;
  height: 4rem;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  font-size: large;
}
.narbar a {
  color: white;
}
.narbar a:hover {
  color: rgb(76, 111, 240);
}

.welcome {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 2rem;
}
.welcome img {
  height: 60px;
  width: auto;
  margin-right: 1rem;
  border-radius: 50%;
  border: 2px solid rgb(92, 79, 79);
  transition: transform 0.3s ease;
}
.welcome img:hover {
  transform: scale(2.5);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 2rem;
}
